searchInputs {
  display: flex;
  color: white;
}

.search input {
  background-color: #92cbd1;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 25px;
  font-size: 18px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: #92cbd1;
  display: grid;
  place-items: center;
  color: white;
}

/* .dataResult::-webkit-scrollbar {
  background-color: #92cbd1;
  color: black;
  border-radius: 25px;
  display: none;
} */

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: #92cbd1;
  color: black;
  /* border-radius: 10px; */
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  display: flex;
  align-items: center;
}

.dataItem:hover {
  background-color: cornsilk;
  opacity: 0.8;
}

#clearBtn {
  cursor: pointer;
}

.dataItem p {
  margin-left: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #59584e;
}
